@use '../helpers/variables' as *;
@use '../helpers/mixin' as *;

// type
.type {
    @include type;
}

.type-detail {
    @include type;
    border-top: 2px dashed $gray-c4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &.on {
        opacity: 1;
        visibility: visible;
    }
}
