{% extends "base.html" %} {% block content %}
{% import '../templates/header.html' as nav %} {{nav.active('method')}}
    <main class="main">
        <section class="method">
            <div class="method__inner">
                <h3 class="method__title">찾고 있는<br>분리수거 방법이 있나요?</h3>
                <div class="select-type">
                    <ul class="type">
                        <li class="type__item">
                            <button type="button" class="refresh-btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.001 5C5.00066 5 5.00033 5 4.99999 5C4.43282 5 3.97303 5.45159 3.97303 6.00865L3.97303 10.0998L3.02887 10.0998C2.16776 10.0998 1.689 11.0781 2.22702 11.7386L4.19806 13.6301C4.60925 14.1348 5.39076 14.1348 5.80195 13.6301L7.77303 11.7386C8.31096 11.0781 7.83223 10.0998 6.97114 10.0998H6.02695L6.02695 7L18 7C18.5523 7 19 6.55229 19 6C19 5.44772 18.5523 5 18 5L5.001 5ZM19 19.0087C18.9542 19.0087 18.9091 19.0057 18.8649 19L6 19C5.44772 19 5 18.5523 5 18C5 17.4477 5.44772 17 6 17L17.9731 17V13.9088H17.0289C16.1678 13.9088 15.689 12.9305 16.227 12.2701L18.198 10.3785C18.6092 9.87382 19.3908 9.87382 19.8019 10.3785L21.773 12.2701C22.311 12.9305 21.8322 13.9088 20.9711 13.9088H20.027V18C20.027 18.5571 19.5672 19.0087 19 19.0087Z" fill="#C4C4C4"/>
                                </svg>
                            </button>
                        </li>
                        <li class="type__item"><button type="button">종이 류</button></li>
                        <li class="type__item"><button type="button">플라스틱 류</button></li>
                        <li class="type__item"><button type="button">유리 류</button></li>
                    </ul>

                    <ul class="type-detail">
                        <li class="type-detail__item"><button type="button"></button></li>
                        <li class="type-detail__item"><button type="button"></button></li>
                        <li class="type-detail__item"><button type="button"></button></li>
                        <li class="type-detail__item"><button type="button"></button></li>
                    </ul>
                </div>
                <div class="input-box search">
                    <input type="text" placeholder="찾으시는 분리수거 물품의 이름을 검색해주세요.">
                    <i class='bx bx-search'></i>
                </div>
                <div class="search-data">
                    <em>분리수거 방법<span>13</span>건</em>
                    <ul class="search-sort">
                        <li class="search-sort__item">
                            <button type="button" class="sort-btn on">자주 검색하는순</button>
                        </li>
                        <li class="search-sort__item">
                            <button type="button" class="sort-btn">최근순</button>
                        </li>
                    </ul>
                </div>

                <div class="card-container">                        
                    <ul class="card">
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/book.png" alt="book">
                                </div>
                                <div class="card__title">책</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/book.png" alt="book">
                                </div>
                                <div class="card__title">책</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/book.png" alt="book">
                                </div>
                                <div class="card__title">책</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/book.png" alt="book">
                                </div>
                                <div class="card__title">책</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/newspaper.jpg" alt="newspaper">
                                </div>
                                <div class="card__title">신문지</div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="detail.html" class="card__link">
                                <div class="card__img">
                                    <img src="./assets/images/book.png" alt="book">
                                </div>
                                <div class="card__title">책</div>
                            </a>
                        </li>
                    </ul>
                    <!-- 더보기버튼 클릭시 list 15개씩 추가로 보여줌 -->
                    <button type="button" class="btn-more">더보기</button>
                </div>
            </div>
        </section>
    </main>
    {% include "footer.html" %}
    <script type="module" src="./assets/js/method.js"></script>
{% endblock %}