$white : #fff;
$black-21 : #212529;
$gray-66 : #666;
$gray-99 : #999;
$gray-c4 : #c4c4c4;
$red : #dd1a1a;
$yellowgreen : #50C520;
$green : #00B564;

$desktop : 1920px;
$laptap : 1440px;
$tablet-l : 1024px;
$tablet-s : 768px;
$mobile : 428px;
